.input-wrapper{
    margin: 10px;
}

.input-field{
width: 200px;
height: 30px;
}

.btn{
    width: 200px;
    height: 30px;
    }

.container{
  text-align: center;
}

.button-link{
    border: 0;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
    cursor: pointer;
    font-weight: 900;
}

.input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
}

table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

table, td, button{
    margin: 5px;
}

table img{
    width: 80px;
}